* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
}
.cover-bg {
  width: 100%;
  height: 640px;
  background: url("/Hotel\ Booking\ App/images/cover.webp");
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.img {
  width: 40%;
  height: 200px;
  background-color: white;
  position: absolute;
  bottom: 10%;
  left: 30%;
  border-radius: 10px;
}
.rooms {
  padding: 20px;
}
.rooms label {
  margin: 14px;
  font-size: 20px;
  color: gray;
}
.cover-text {
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.btn {
  display: flex;
  justify-content: right;
  margin: 10px;
}
.logo {
  width: 120px;
  margin-right: 1460px;
}
#login,
#signup {
  padding: 6px 32px;
  background-color: turquoise;
  border: none;
  margin: 10px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  border-radius: 24px;
}
#login:hover,
#signup:hover {
  background-color: white;
  border: 1px solid turquoise;
  color: turquoise;
}
.heading {
  padding: 40px;
  color: white;
  font-weight: 900;
  font-size: 40px;
  z-index: 1;
}

.desc-two {
  color: white;
  font-size: 34px;
  font-weight: 400;
  font-style: italic;
  padding: 10px;
}
.second-form {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#search {
  width: 28%;
  height: 30px;
  border: 1px solid turquoise;
  border-radius: 6px;
  padding: 8px;
  outline: none;
}

#guests {
  width: 6%;
  height: 30px;
  border: 1px solid turquoise;
  border-radius: 6px;
  padding: 8px;
  outline: none;
}
#check-in,
#check-out {
  width: 10%;
  height: 30px;
  border: 1px solid turquoise;
  color: turquoise;
  margin: 10px;
  border-radius: 6px;
}
.check {
  color: rgb(48, 175, 162);
  font-weight: 900;
  margin-right: 14px;
}
#guests-label {
  color: rgb(51, 172, 160);
  font-weight: 900;
  margin-left: 10px;
}
.fa-magnifying-glass {
  color: turquoise;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 20px;
}
.search-hotels {
  padding: 10px;
  background-color: turquoise;
  color: white;
  font-weight: 800;
  font-size: 16px;
  border: none;
  margin-top: 10px;
}
.recommendations {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 40px;
}
.left-side {
  width: 12%;
  height: auto;
  margin-right: 20px;
  margin-top: 16px;
  /* border: 1px solid black; */
}
.car-rental {
  width: 100%;
  height: auto;
  border: 2px solid turquoise;
  border-radius: 14px;
  text-align: center;
}
.ski-instructors {
  width: 100%;
  height: auto;
  border: 2px solid turquoise;
  border-radius: 14px;
  margin-top: 24px;
  text-align: center;
}
.discount {
  width: 100%;
  height: auto;
  border: 4px solid white;
  background-color: turquoise;
  color: white;
  font-weight: 800;
  font-size: 26px;
  border-radius: 14px;
  margin-top: 10px;
  text-align: center;
}
.tours {
  margin-top: 10px;
}
.title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(26, 125, 115);
  padding: 14px;
  margin: 10px 0;
}
.desc {
  padding: 10px;
  color: gray;
}
.desc-sub {
  color: gray;
  font-size: 22px;
  text-wrap: wrap;
  padding: 10px;
  margin: 30px 0;
  width: 80%;
  margin: 0 auto;
}
.btn-view {
  width: 100px;
  height: 20px;
  margin: 40px 0 10px 0;
  background-color: rgb(208, 251, 247);
  border: 2px solid turquoise;
  color: gray;
}

.middle {
  width: 40%;
  height: auto;
  /* border: 1px solid blue; */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid turquoise;
  border-radius: 14px;
  padding: 16px;
  margin-top: 16px;
}
.text a {
  text-decoration: none;
  color: gray;
}
.gallery {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid turquoise; */
  border-radius: 14px;
  padding: 2px;
}
.gallery img {
  width: 50%;
  height: auto;
  padding: 1px;
  border-radius: 14px;
}
.text {
  width: 60%;
  height: auto;
}
.hotel-name {
  font-size: 34px;
  font-weight: 700;
  padding: 10px;
  color: gray;
}
.stars {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 14px 0;
}
.fa-star {
  color: rgb(240, 240, 28);
}
.review-no {
  margin-left: 10px;
}
.location {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
}
.location-name {
  margin-left: 10px;
  color: gray;
}
.fa-location-dot {
  color: gray;
  margin-left: 14px;
}
.price {
  margin: 30px 16px;
  font-weight: 700;
}
.food {
  color: rgb(13, 220, 13);
  font-weight: 800;
  margin: 20px 16px;
}
.right-side {
  width: 12%;
  height: auto;
  margin-left: 20px;
  margin-top: 16px;
  /* border: 1px solid green; */
}

/* Hotel Single Listing CSS */
.search-section {
  text-align: center;
}
.back {
  width: 10%;
  height: auto;
  padding: 10px;
}
.fa-arrow-left-long {
  text-align: center;
  font-size: 24px;
  color: turquoise;
  margin-left: 440px;
}
.single-listing {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.left-listing {
  width: 40%;
  height: auto;
  border-radius: 14px;
  /* border: 2px solid turquoise; */
  margin-top: 16px;
}
.images {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: 2px solid turquoise;
  border-radius: 14px;
}
.images img {
  width: 24%;
  height: auto;
  border-radius: 14px;
  margin: 4px;
}
.checkout img {
  width: 50%;
}
.stars-checkout {
  width: 100%;
}

.description {
  display: flex;
  justify-content: space-between;
}
.border-none {
  border: none;
}
/* Calendar */
.calendar {
  width: 350px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  /* overflow: hidden; */
}

.month {
  text-align: center;
  padding: 4px;
  font-size: 14px;
  border-radius: 12px;
}
.select {
  text-align: center;
  background-color: turquoise;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: 800;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #fff;
}

.day {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.day:hover {
  background-color: turquoise;
  color: white;
}
.selected {
  background-color: turquoise;
  color: white;
}
.week {
  border: none;
  color: turquoise;
}
.calendar a {
  text-decoration: none;
}
.proceed {
  text-align: center;
  background-color: turquoise;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: 800;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.search-section input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: 1px solid turquoise;
  outline: none;
}
.user-reviews {
}
.avatar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.fa-user {
  color: turquoise;
  font-size: 20px;
  margin-right: 14px;
}
.name {
  font-size: 18px;
  font-weight: 700;
}
.star-reviews {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.rating {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
}
.textarea {
  width: 100%;
  border: 2px solid turquoise;
  border-radius: 12px;
  height: auto;
  padding: 14px;
  color: gray;
  margin-bottom: 40px;
}
.right-listing {
  width: 12%;
  height: auto;
  margin-left: 20px;
  margin-top: 16px;
}

.form form {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.form form input,
.form form label,
.form form select {
  margin: 10px 0;
}
.form form input[type="text"],
.form form select {
  width: 40%;
}
.form h4 {
  color: rgb(48, 170, 158);
  font-weight: 900;
}
.form input {
  outline: none;
  border: 1px solid rgb(169, 228, 225);
  color: gray;
  padding: 4px;
}
.form select {
  color: gray;
  border: 1px solid rgb(212, 208, 208);
}
.form label {
  color: rgb(90, 86, 86);
  margin-top: 10px;
}
.reason {
  color: rgb(34, 129, 119);
  margin-top: 6px;
}
.proceed-book {
  padding: 4px;
  color: white;
  background-color: turquoise;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 900;
  margin-top: 10px;
}
.proceed-book a {
  text-decoration: none;
  color: white;
}
.checkout-info {
  margin-left: 20px;
}
.duration,
.date-selected {
  color: gray;
  font-weight: 900;
}
.payment-form {
  width: 80%;
  margin-top: 50px;
  margin-left: 20px;
  color: rgb(78, 74, 74);
  padding: 10px;
}
.payment-form input {
  margin-top: 10px;
  display: block;
  padding: 4px;
  width: 40%;
  outline: 1px rgb(239, 236, 236);
}
.payment-form label {
  font-size: 16px;
}
.payment-form p {
  margin: 20px 0;
}
label {
  margin: 10px 0;
}
.cards {
  display: block;
  margin-bottom: 30px;
}
.cards .fa-brands {
  font-size: 50px;
}
.fa-cc-visa {
  color: purple;
}
.fa-cc-mastercard {
  color: rgb(168, 168, 42);
}
.fa-cc-paypal {
  color: blue;
}
.payment-form input[type="button"] {
  color: white;
  background-color: turquoise;
  border: none;
  font-weight: 900;
}
.error-message {
  color: red;
  margin-top: 10px;
}
.contact {
  color: gray;
  font-weight: 900;
  margin-top: 30px;
}
.contact textarea {
  width: 400px;
  height: 120px;
  padding: 4px;
}
.left-listing h2 {
  margin-left: 20px;
  margin-bottom: 20px;
  color: green;
}
.sad {
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 10px;
  color: red;
}
.fa-face-frown-open {
  font-size: 60px;
  margin-top: 20px;
}
#loginPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 140px;
  background: white;
  box-shadow: 0 0 10px turquoise;
  z-index: 1;
  width: 50%;
  text-align: center;
}

#blur-bg {
  filter: blur(3px);
}
#loginPopup label {
  font-size: 28px;
  width: 30%;
}
#loginPopup input[type="email"],
#loginPopup input[type="password"] {
  width: 60%;
  outline: none;
  border-radius: 10px;
  border: 1px solid turquoise;
  padding: 8px;
  margin-top: 10px;
}

#loginPopup h2 {
  font-size: 30px;
  text-align: center;
  padding: 40px;
  color: turquoise;
}
#loginForm {
  display: block;
}
#loginPassword {
}
#loginEmail {
}
/* Media Queries */
@media only screen and (max-width: 600px) {
  form input {
    display: block;
    width: 100%;
  }
  .btn {
  }
  #login,
  #signup {
  }
  .rooms {
    width: 100%;
  }
  .rooms input {
    display: block;
  }
  .rooms label {
    display: block;
    padding: 10px;
  }
  .logo {
    margin-right: 0;
    width: 100px;
    height: auto;
  }
  .img {
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
  }
  .second-form {
    display: block;
    width: 100%;
    text-align: center;
  }
  .second-form #check-in,
  #check-out,
  #guests {
    width: 100%;
  }
  .second-form label {
    display: block;
  }
  .fa-magnifying-glass {
    display: block;
    margin-bottom: 20px;
    text-align: right;
  }
  .second-form #search {
    display: none;
  }
  .second-form #guests {
    width: 100%;
    margin-left: 10px;
  }
  #guests-label {
    margin-top: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .logo {
    margin-right: 320px;
  }
  .img {
    width: 80%;
    position: absolute;
    bottom: 10%;
    left: 10%;
  }
}
