* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
body {
  box-sizing: border-box;
}

#my-rating {
  margin-left: 20px;
}
.my-movies {
  display: flex;
  justify-content: flex-end;
}
.right-side {
  width: 25%;
  height: 900px;
  border: 1px solid rgb(66, 66, 66);
  /* text-align: center; */
  margin-left: 40px;
  position: fixed;
}
.left-side {
  width: 75%;
  height: auto;
  position: fixed;
}
.form {
  margin-top: 80px;
  font-size: 20px;
}
.form {
  margin-left: 20px;
}
#sort-movies {
  margin-left: 20px;
}
.form input {
  margin-bottom: 30px;
  border: 1px solid gray;
  padding: 4px 10px;
  font-size: 20px;
}
#enterBtn {
  padding: 4px 20px;
  background-color: rgb(155, 155, 155);
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 10px;
}
.form,
.filter-movies,
.sort-movies,
.movies-db {
  width: 100%;
  height: auto;
  /* text-align: center; */
  /* border: 1px solid blue; */
}
#movie-list li {
  list-style-type: none;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
}
#my-rating,
.my-rating {
  font-weight: 100;
  color: yellow;
}
.my-rating {
  border: 1px solid rgb(105, 105, 105);
  color: yellow;
  padding: 4px 10px;
  margin-left: 20px;
}
.movie-title {
  color: gray;
  font-weight: 800;
  margin-right: 10px;
}
.filters {
  display: flex;
}
.filter-movies,
.sort-movies {
  font-size: 16px;

  margin: 20px 0 20px 20px;
}
.fa-star {
  color: yellow;
  font-size: 14px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid rgb(66, 66, 66);
  height: 50px;
}

.fa-user,
.fa-gear,
.fa-arrow-up-right-from-square {
  font-size: 20px;
  margin: 10px 20px;
  color: rgb(155, 155, 155);
}
.my-db {
  margin-right: 10px;
  font-size: 26px;
}
