* {
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  font-family: "Rubik Burned", system-ui;
  font-size: 60px;
  margin: 50px 0;
}
.container {
  margin: 0 auto;
  width: 70%;
}
.paintbook {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  padding: 20px;
}
.paint-div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(185, 184, 184);
  padding: 20px;
}
.paint-div:hover {
  background-color: rgb(226, 226, 226);
}

.colors {
  width: 67%;
  height: auto;
  border: 5px groove black;
  margin: 0 auto;
  display: flex;
}
.color-div {
  width: 20%;
  height: 100px;
  border: 5px groove rgb(188, 186, 186);
}
.color-div:hover {
}
.color-red {
  background-color: red;
}

.color-blue {
  background-color: blue;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-purple {
  background-color: purple;
}

.color-turquoise {
  background-color: turquoise;
}
.color-pink {
  background-color: rgb(240, 32, 233);
}
.color-light-green {
  background-color: rgb(52, 223, 33);
}
