* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 70%;
}
.paintbook {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  padding: 20px;
}
.paint-div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid gray;
  padding: 20px;
}
.paint-div:hover {
  background-color: rgb(226, 226, 226);
}

.colors {
  width: 68%;
  height: auto;
  border: 1px solid gray;
  margin: 0 auto;
  display: flex;
}
.color-div {
  width: 20%;
  height: 100px;
}
.color-div:hover {
}
.color-red {
  background-color: red;
}

.color-blue {
  background-color: blue;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-purple {
  background-color: purple;
}

.color-turquoise {
  background-color: turquoise;
}
