* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.month {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 100px;
  font-size: 30px;
}
.arrow-left {
  margin-right: 14px;
  font-weight: 900;
  color: gray;
  padding: 0 4px;
}
.arrow-right {
  margin-left: 14px;
  font-weight: 900;
  color: gray;
  padding: 0 4px;
}
.arrow-left:hover,
.arrow-right:hover {
  border: 1px solid red;
  background-color: gray;
  color: white;
  cursor: pointer;
}
.december {
  color: red;
}

.week {
  display: flex;
  justify-content: center;
  align-items: start;
}
.days {
  padding: 8px;
  margin: 10px;
  color: gray;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 20%;
  margin: 0 auto;

  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.grid-item {
  padding: 10px;
  text-align: center;
  width: 40px;
  border: 1px solid red;
  color: gray;
}
.grid-item:nth-child(1) {
  grid-column: 5;
}
.grid-item:hover {
  background-color: gray;
  color: white;
}
