@media screen and (max-width: 768px) {
  .header-wrapper {
    display: flex;
    justify-content: space-betweens;
    background-color: #000000;
    color: white;
    /* align-items: center; */
    /* position: sticky;
        top: 0; */
    display: none;
  }

  /* .mobile-wrapper {
    background-color: #000000;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-betweens;
  } */

  .logo img {
    width: 50%;
    /* margin: 10px; */
  }

  .display {
    display: none;
  }

  .cover-img {
    position: relative;
    max-width: 100%;
  }

  .cover-bg {
    width: 100%;
    height: 40px;
    display: block;
    opacity: 0.5;
    z-index: 1;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
  }
  /* .text {
    width: 10%;
  } */
  .overlay-text {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    word-break: break-word;
    word-wrap: break-word;
    z-index: 1;
  }
  .desc-text {
    font-size: 20px;
    width: 60%;
    color: white;
    font-weight: normal;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
  }
  .lorem-ipsum {
    color: white;
    width: 80%;
    position: absolute;
    top: 60%;
    font-size: 12px;
  }

  .off {
    color: red;
    position: absolute;
    width: 30%;
    height: 20%;
    background-color: white;
    right: 10%;
    bottom: 60%;
    z-index: 1;
    font-size: 12px;
    padding: 40px 10px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    margin: 0 auto;
    border-radius: 50%;
    word-wrap: break-word;
  }
  .book:hover {
    background-color: var(--indigo);
  }

  /* .headings {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
  } */

  .subheading {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }

  /* About */

  .about {
    width: 100%;
    height: 800px;
    background-color: white;
    display: block;
    font-size: 10px;
  }
  .lorem-ipsum2 h1 {
    font-size: 12px;
  }
  .display-block {
    display: block;
  }
  #subheading {
    font-size: 20px;
  }
  /* Slideshow */
  .slideshow-container {
    position: relative;
    top: 14%;
    width: 100%;
    height: 240px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .slide {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    transition: transform 0.5s ease-in-out;
  }

  .book {
    flex: 0 0 33.33%;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    height: 400px;
    width: 30%;
  }

  .arrow {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
  .lorem-ipsum2 {
    word-break: break-word;
    word-wrap: break-word;
    width: 100%;
    height: 100px;
    padding: 14px 60px;
    display: block;
    padding: 10px 10px 40px;
  }
  #book-wrap {
    border: none;
  }
  .lorem-ipsum3 {
    padding: 160px 10px 40px;
  }

  /* Services */
  #services {
  }
  .services {
    width: 100%;
    height: 1280px;
    background-color: white;
    display: block;
  }
  .services-wrapper {
    display: block;
    /* flex-direction: column;
    justify-content: space-between; */
    /* text-align: center; */
    /* border-radius: 10%; */
    box-shadow: 2px 20px 12px 2px gray;
    width: 70%;
    height: 350px;
    margin-left: 60px;
    background-color: #2f0150;
    color: white;
    margin-top: 70px;
  }
  .services-btn:hover {
    cursor: pointer;
    background-color: #2f0150;
    color: white;
  }
  .services-btn {
    background-color: white;
    color: #2f0150;
    border: 1px solid #2f0150;
    border-radius: 40%;
    padding: 4px;
    font-weight: 600;
  }
  .service-img:hover {
    scale: 1.2;
  }
  .service-img {
    width: 30%;
    height: 36%;
    margin: 0 auto;
  }
  .services-wrapper h4 {
    padding-top: 10px;
    font-size: 20px;
  }

  .services-wrapper p {
    font-size: 12px;
    text-align: left;
    width: 100%;
  }
  hr {
    height: 20px;
    color: black;
    padding-bottom: 10px;
  }

  /* Catalog */
  .catalog {
    width: 100%;
    height: 2200px;
    background-color: black;
  }
  .subheading {
    color: white;
    font-size: 20px;
    padding-left: 26px;
    /* padding-bottom: 30px; */
    color: black;
    text-align: center;
    padding: 6px;
    font-size: 34px;
  }
  .catalog .headings {
    color: white;
    font-weight: 800;
    padding-bottom: 80px;
  }
  .filters {
    display: block;
    padding-top: 20px;
    font-size: 24px;
    padding-bottom: 80px;
  }
  #number-books,
  #sort {
    border: none;
    width: 100%;
    font-size: 20px;
    color: black;
  }
  label {
    padding-top: 10px;
  }
  .book-wrapper {
    color: white;
    width: 100%;
    height: 30%;
    /* padding-top: 40px; */
    display: flex;
    justify-content: left;
    flex-flow: wrap;
    margin-top: 8px;
  }

  .book-info {
    width: 45%;
    height: 65%;
    /* border: 1px solid white; */
    margin: 6px;
  }
  .book-img img {
    width: 100%;
    height: 30%;
  }
  .book-info:hover {
    background-color: white;
    cursor: pointer;
    color: var(--indigo);
    scale: 1.2;
  }
  .title {
    font-size: 12px;
    font-weight: 800;
    padding-left: 8px;
  }
  .book-desc {
    font-style: italic;
    padding-left: 8px;
    font-size: 8px;
  }
  .author {
    padding-left: 12px;
    font-size: 8px;
    padding-top: 10px;
  }
  .price {
    margin-left: 100px;
    font-style: italic;
    font-size: 8px;
  }

  /* Contact */

  .contact {
    width: 100%;
    height: 1400px;
    background-color: white;
    display: block;
    text-align: left;
  }
  address {
    padding-top: 80px;
    padding-left: 20px;
  }
  .google-map {
    /* padding-top: 80px; */
    /* position: relative; */
    /* margin-left: 100px; */
    text-align: center;
    width: 50%;
    height: 50%;
  }

  .google-map iframe {
    /* position: absolute;
    left: 0;
    top: 40; */
    width: 100%;
    height: 50%;
  }

  .contact-form {
    width: 80%;
    height: 100px;
    margin: 0 auto;
  }

  .contact-form input,
  textarea {
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: 1px solid rgb(198, 197, 197);
    padding-left: 6px;
  }

  .contact-form input[type="submit"] {
    background-color: var(--indigo);
    color: white;
    font-size: 18px;
  }

  .contact-form input[type="submit"]:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  /* Footer */

  .footer {
    display: block;
    /* justify-content: space-around; */
    background-color: black;
    width: 100%;
  }

  .info-widgets {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 5px;
    /* justify-content: space-between; */
    /* padding-top: 20px; */
  }
  .info-w {
    display: flex;
    justify-content: space-between;
    width: 33%;
    /* padding-left: 10px; */
    margin-top: 10px;
    margin: 40px;
    flex-flow: wrap;
  }
  .info-w p {
    padding-left: 4px;
  }

  .info-widgets img {
    width: 40px;
    height: 40px;
  }
  .resources {
    color: white;
    margin-left: 30px;
    padding: 10px;
    text-align: center;
  }

  .resources a {
    text-decoration: none;
  }
  .resources li:hover {
    scale: 1.2;
    color: var(--indigo);
  }
  .resources h4 {
    font-size: 18px;
  }
  .resources li {
    list-style-type: none;
    color: white;
  }
}
