* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.left-arrow {
  border: 1px solid rgb(244, 229, 232);
  padding: 18px 20px;
  border-radius: 10px;
  text-align: center;
}
.header-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid rgb(244, 229, 232);
  width: 100%;
  align-items: center;
  border-radius: 10px;
}
.reports {
  padding: 0 100px;
  margin-right: 800px;
}
.initials {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.initials2 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.share-btn {
  width: 100px;
  height: 34px;
  color: blue;
  border: 1px solid blue;
  border-radius: 6px;
  text-align: center;
  font-weight: 800;
  padding: 6px 0;
}
.preview-btn {
  background-color: blue;
  color: white;
  width: 100px;
  height: 34px;
  text-align: center;
  font-weight: 800;
  border-radius: 6px;
  margin-right: 30px;
  padding: 6px 0;
}
.fa-comment {
  font-size: 24px;
}
.share-btn:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
.preview-btn:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}
.main-container {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
.business {
  display: flex;
  justify-content: space-evenly;
}
.date {
  display: flex;
  justify-content: space-between;
  margin-left: 630px;
}
.calendar {
  margin-top: 10px;
}
.text {
  font-size: 26px;
  font-weight: 900;
}
.days {
  color: gray;
  font-weight: 900;
  margin-right: 20px;
}
#date {
  border: none;
}
.statistics {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
  height: auto;
}
.stat-wrapper {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: auto;
  width: 12%;
  padding: 30px;
  margin: 0 60px;
}
.fa-briefcase,
.fa-arrow-pointer,
.fa-arrows-rotate,
.fa-dollar-sign {
  font-size: 50px;
  color: blue;
}
.info {
  margin-right: 10px;
}
.title {
  font-size: 14px;
  color: gray;
}
.fa-arrow-pointer {
  margin-left: 20px;
}
.numbers {
  font-size: 24px;
  font-weight: 900;
}
.probability {
  color: rgb(23, 203, 23);
  font-size: 12px;
  font-weight: 900;
}
.charts {
  display: flex;
  justify-content: center;
}
.ad-cost {
  width: 34%;
  height: 300px;
  /* border: 1px solid black; */
}
.info-text {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}
.fa-circle {
  color: blue;
  font-size: 12px;
  margin: 3px 6px;
}
.graph {
  width: 100%;
}

.stats ul li {
  margin: 0 0 4px 0;
  list-style-type: none;
  padding-bottom: 20px;
}
.percent {
  display: flex;
  justify-content: space-evenly;
}

.blue-div {
  display: block;
  rotate: 180deg;
}

.blue-div div {
  width: 24px;
  height: 100px;
  background-color: blue;
  opacity: 0.7;
}
#diff-size {
  height: 140px;
}
#other-size {
  height: 80px;
}
#other-size2 {
  height: 180px;
}
.amount-number {
  color: gray;
}
.days {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.days div {
  margin-left: 20px;
  text-align: center;
}
#one {
  margin-left: 90px;
}
.performance {
  width: 34%;
  height: 300px;
  /* border: 1px solid black; */
}
.cost-wrapper {
  width: 88%;
  height: 300px;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.annual {
  margin-bottom: 10px;
}
.performance .text {
  font-size: 20px;
}
.time {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.desc {
  font-weight: 900;
}
.num {
  color: gray;
  margin-right: 10px;
}
.slider {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 0;
}
.slider div {
  width: 94%;
  height: 10px;
  background-color: green;
}
.icon {
  color: green;
  margin-top: -2px;
}
.icon-gray {
  color: rgb(205, 204, 204);
}
.impressions {
  width: 94%;
}
.gray-slider div {
  width: 94%;
  height: 10px;
  background-color: gray;
}
.slider-gray {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 0;
}
.slider-gray div {
  width: 94%;
  height: 10px;
  background-color: rgb(228, 223, 223);
}
.slider-gray div .inner-div {
  width: 84%;
  height: 10px;
  background-color: rgb(12, 12, 240);
}
#size {
  width: 90%;
}
#size2 {
  width: 70%;
}
.link-clicks {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 74%;
  height: 300px;
  padding: 10px;
  margin: 0 auto;
}
.left-section {
  width: 40%;
  border: 1px solid black;
  height: auto;
}
.links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-top: 10px;
}

.right-section {
  width: 50%;
  border: 1px solid black;
  height: auto;
}
