* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
  --green-progress: #79ce00;
  --details-bg: rgb(34, 34, 34);
  --text-details-color: white;
  --uncompleted-dot: #efeff0;
  --input-color: rgb(110, 113, 119);
  --border: rgb(110, 113, 119);
  --policy-color: rgb(255, 122, 0);
  --next-btn-color: rgb(255, 233, 212);
}
#main-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

#left-section {
  width: 42%;
  height: inherit;
  /* border: 1px solid black; */
}
#info-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: inherit;
}
#logo {
  width: 20%;
  height: 30%;
  margin-top: 40px;
}
.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.completed-dot {
  background-color: var(--green-progress);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 4px;
}
.completed-line {
  background-color: var(--green-progress);
  width: 1px;
  height: 46px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.uncompleted-dot {
  background-color: var(--uncompleted-dot);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 2px;
}
.uncompleted-line {
  background-color: var(--uncompleted-dot);
  width: 1px;
  height: 46px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.personal-info {
  background-color: var(--details-bg);
  color: var(--text-details-color);
  padding: 4px 6px;
  text-align: center;
  border-radius: 4px;
  word-wrap: break-word;
  width: 80px;
  font-size: 14px;
}
#logo img {
  margin-bottom: 30px;
}
#right-section {
  width: 58%;
  height: inherit;
  /* border: 1px solid red; */
  background-image: url(assets/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.town {
  width: 58%;
  height: inherit;
  /* border: 1px solid red; */
  background-image: url(assets/second-slide.gif);
  background-repeat: no-repeat;
  background-position: top right 10px;
  background-size: cover;
}
.form {
  width: 80%;
  height: auto;
  margin-top: 50px;
}
.question {
  margin: 14px 5px;
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
}
.desc {
  margin: 28px 0;
  font-weight: 400;
  line-height: 143%;
  font-size: 14px;
  font-family: inherit;
  width: 86%;
}

.form label,
.form input {
  color: var(--input-color);
  margin: 25px 0;
}
.form input {
  width: 72%;
  height: 60px;
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 10px;
  margin-top: 14px;
  outline: purple;
  font-size: 16px;
}
.form-margin-top {
  margin-top: 140px;
}
.terms {
  display: flex;
  justify-content: flex-start;
  align-items: last baseline;
  width: 80%;
  padding: 4px;
  font-size: 12px;
  height: 20px;
  margin-top: 20px;
  /* border: 1px solid black; */
}
.terms input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  color: purple;
}
.terms-conditions {
  margin-left: 10px;
}
.orange-color a {
  color: var(--policy-color);
  text-decoration: none;
}
.next {
  background-color: var(--next-btn-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
}

.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 34px;
}
.links {
  display: flex;
  padding: 4px;
  justify-content: center;
}
.vertical-line {
  background-color: var(--border);
  width: 1px;
  height: 16px;
  margin: 0 10px;
}
.resume {
  font-size: 14px;
  color: var(--input-color);
}

.upload-resume {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  text-align: start !important;
  padding: initial;
  border: initial;
  white-space: pre;
  overflow: hidden !important;
}
.resume-desc {
  margin-left: 10px;
}
.resume-desc div {
  font-size: 20px;
  font-weight: 600;
  color: var(--border);
}
.resume-desc p {
  color: rgb(193, 192, 192);
  font-size: 14px;
}
.add {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  overflow: hidden;
  background-image: url(https://onboarding.a.team/builder/static/media/plus.b5f7c14467beeabbcb122891f8262209.svg);
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  margin: 4px 0;
}
.upload-resume span {
  color: white;
  cursor: pointer;
}
.orange-color-bg {
  background-color: orange;
  cursor: pointer;
}
.wider-input input {
  width: 90%;
}

.back-btn a {
  text-decoration: none;
  font-size: 16px;
  color: var(--input-color);
  font-weight: 400;
}
.back-btn {
  padding: 10px 30px 30px;
  margin-bottom: 10px;
}
.back-btn a span {
  margin-left: 10px;
}
#search-input {
  font-size: 20px;
}

/* .slider-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.slider-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
} 

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px; 
  background: orange; /
} */

#roles {
  width: 100%;
}

#countries {
  width: 90%;
  height: 200px;
  border: 1px solid rgb(232, 230, 230);
  overflow-y: scroll;
  margin-bottom: 10px;
  display: none;
  box-shadow: 1px 10px 10px rgb(232, 230, 230);
}
#countries li {
  list-style-type: none;
  margin-left: 10px;
  font-size: 20px;
  color: gray;
}
#countries li:hover {
  background-color: rgb(208, 202, 202);
  color: white;
  cursor: pointer;
}
.search-secondary-roles {
  border: 1px solid black;
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#secondary-role {
  width: 94%;
  height: fit-content;
  border: none;
}
