* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* overflow: hidden; */
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.left-arrow {
  border: 1px solid rgb(244, 229, 232);
  padding: 18px 20px;
  border-radius: 10px;
  text-align: center;
}
.header-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid rgb(244, 229, 232);
  width: 100%;
  align-items: center;
  align-self: center;
  border-radius: 10px;
}
.reports {
  padding: 0 100px;
  margin-right: 800px;
}
.initials {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.initials2 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.share-btn {
  width: 100px;
  height: 34px;
  color: blue;
  border: 1px solid blue;
  border-radius: 6px;
  text-align: center;
  font-weight: 800;
  padding: 6px 0;
  margin-right: 10px;
}
.preview-btn {
  background-color: blue;
  color: white;
  width: 100px;
  height: 34px;
  text-align: center;
  font-weight: 800;
  border-radius: 6px;
  margin-right: 30px;
  padding: 6px 0;
  margin-right: 10px;
}
.fa-comment {
  font-size: 24px;
  margin-right: 10px;
}
.share-btn:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
.preview-btn:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}
.main-container {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
.business {
  display: flex;
  justify-content: space-evenly;
}
.date {
  display: flex;
  justify-content: space-between;
  margin-left: 630px;
}
.calendar {
  margin-top: 10px;
}
.text {
  font-size: 20px;
  font-weight: 900;
}
.days {
  color: gray;
  font-weight: 900;
  margin-right: 16px;
}
.days div {
  margin: 0 30px;
}
#date {
  border: none;
}
.statistics {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
  height: auto;
}
.stat-wrapper {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: auto;
  width: 12%;
  padding: 30px;
  margin: 0 60px;
}
.fa-briefcase,
.fa-arrow-pointer,
.fa-arrows-rotate,
.fa-dollar-sign {
  font-size: 50px;
  color: blue;
}
.info {
  margin-left: 10px;
}
.title {
  font-size: 14px;
  color: gray;
}
.fa-arrow-pointer {
  margin-left: 20px;
}
.numbers {
  font-size: 24px;
  font-weight: 900;
}
.probability {
  color: rgb(23, 203, 23);
  font-size: 12px;
  font-weight: 900;
}
.bar-charts {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
}
.left-bar {
  width: 40%;
  border: 1px solid black;
  height: 240px;
}
.right-bar {
  width: 40%;
  border: 1px solid black;
  height: 240px;
}
.charts-line {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;
}

.left-section {
  width: 40%;
  border: 1px solid black;
  height: auto;
}

.right-section {
  width: 40%;
  /* border: 1px solid black; */
  height: auto;
  border: 1px solid black;
}
.campaign {
  margin-left: 24px;
  font-size: 20px;
}
.table {
  width: 100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

td,
th {
  /* border: 1px solid dddddd; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
}
th {
  border-bottom: 1px solid rgb(14, 14, 255);
  color: black;
}
td {
  height: 60px;
}
