* {
  padding: 0;
  margin: 0;
}

#chatbot-container {
  width: 300px;
  height: 500px;
  border: 1px solid blue;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.display-class-none {
  display: none;
}

.display-class-block {
  display: block;
}

#chatbox-icon {
  width: fit-content;
  height: auto;
  border: 1px solid black;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.fa-comment-dots {
  font-size: 36px;
  color: green;
  z-index: 1;
}
